{% extends 'website/basic.html' %}


{% load static %}


{% block style %}
<link rel="stylesheet" href="{%static 'css/Booked.css' %}" />

{% endblock style %}

{% block center-content %}
<div class="container">
    <h1>Your Train Booking</h1>
    <div class="row">
{% if user %}
{% for i in books %}
<div class="col-md-4">

<form action="{%url 'flightbooked' i.id %}" method="post">
    {%csrf_token%}
    <input type="submit" value="{{i.contact_name}}">
</div>

    {%endfor%}
</div>

</form>
</div>

{% endif %}
{% endblock center-content %}

{% block footer %}
{% endblock footer %}
