{% extends 'website/basic.html' %}



{% load static %}

{% block style %}
<link rel="stylesheet" href="{%static 'css/flight.css' %}" />

{% endblock style %}

{% block center-content %}
<h1 class="rail_head">Find Flights</h1>
  <div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <div class="find-train row">
            <div class="col-md-4">
            <input type="text" id="tags" name="source_station" placeholder="Source">
            </div>

            <div class="col-md-4">

            <h3>To</h3>
            </div>

            <div class="col-md-4">

            <input type="text" id="dst" name="destination_station" placeholder="Destination">
            </div>
            <div class="date">
                <input type="date" name="date" id="">
            </div>
            
            <input type="submit" value="Submit" class="rail-book-btn">
        </div>
    </form>
  </div>

{% endblock center-content %}

{% block extra %}
<section class="result">
  
  <h1 id="flightInfo">Flight Info</h1>
  <table width="100%" height="200px">
    <tr>
      <th>Flight Number</th>
      <th>Flight Name</th>
      <th>Source Station Name</th>
      <th>Destination_Station_Name</th>
      <th>Travel Time</th>
      <th>Days</th>
      <th>Economy Class Price</th>
      <th>Bussiness class Price</th>
    </tr>
    {% for i in flight %}
      {% if src_query == i.Source_Station_Name and dst_query == i.Destination_Station_Name %}  
      <tr>
        
        <form action="{%url 'flight_booking' i.id %}" method="post">

          {%csrf_token%}
          <td><input type="submit" style="color: rgb(0, 0, 255); border: none;" value="{{i.Flight_No}}"></td>
        </form>
        <td>{{i.Flight_name}}</td>
        <td>{{i.Source_Station_Name}}</td>
        <td>{{i.Destination_Station_Name}}</td>
        <td>{{i.time}} hr</td>
        <td>{{i.days}}</td>
        <td>{{i.Economy}}</td>
        <td>{{i.Bussiness}}</td>
      </tr>
      {% endif %}

      {%endfor%}

  </table>


 
</section>
{% endblock extra %}


{% block script_ac %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


<!-- jquery ui -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

<script>
    $( function() {
      var availableTags = [...new Set([
          {% for i in flight %}
              "{{i.Source_Station_Name}}",
          {% endfor %}
        // "Python","JavaScript", "Jquery","DataScience"
      ])];
      $( "#tags" ).autocomplete({
        source: availableTags
      });
    } );

    $( function() {
      var availableTags = [...new Set([
          {% for i in flight %}
              "{{i.Destination_Station_Name}}",
          {% endfor %}
        // "Python","JavaScript", "Jquery","DataScience"
      ])];
      $( "#dst" ).autocomplete({
        source: availableTags
      });
    } );
    </script>
  </body>
{% endblock script_ac %}

{% block footer %}

{% endblock footer %}
