.header{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.507), black), url('../img/passengers.jpg');
    background-size: 100% 100%;
}
.row{
    width: 100%;
}

.col-md-4{
}
.col-md-4  input{
    color: white;
    border: none;
    background-color: transparent;
    padding: 5px;
}
.container h1{
    text-align: center;
    margin-top: 25px;
    color: orangered;
    border-top: 1px solid orange;
    border-bottom: 1px solid red;
    padding: 15px;
}